<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>297640754642-rrh0p6h4mv3bmv8676i4blb7clp2qs89.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.297640754642-rrh0p6h4mv3bmv8676i4blb7clp2qs89</string>
	<key>API_KEY</key>
	<string>AIzaSyCgzfUPpPimpSY-2wMMIxkRsQGW-rPpFdA</string>
	<key>GCM_SENDER_ID</key>
	<string>297640754642</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.refactory.redux</string>
	<key>PROJECT_ID</key>
	<string>todo-79a2c</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-79a2c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:297640754642:ios:f1a54d186d74012a</string>
	<key>DATABASE_URL</key>
	<string>https://todo-79a2c.firebaseio.com</string>
</dict>
</plist>